
legionVersion: "{{ legion_version }}"
imagesRegistry: "{{ docker_repo }}/"
logLevel: debug

ingress:
  enabled: true
  globalDomain: "{{ base_domain }}"
  tlsEnabled: true
  tlsSecretName: "{{ base_domain }}-tls"

{% if dex.enabled == true %}
security:
  enabled: true
{% endif %}

modelApiSecurity:
  enabled: true
  jwt:
    secret: "{{ enclave_jwt_secret }}"
    defaultTokenTTLInMinutes: "{{ api.jwt_ttl_minutes | default('120') }}"
    maxTokenTTLInMinutes: "{{ max_token_ttl_minutes | default('259200') }}"
    defaultTokenTTLEndDate: "{{ api.jwt_exp_datetime | default('') }}"

metrics:
  enabled: true

modelMetrics:
  enabled: true

modelStorage:
  buildPrefix: "{{ env_name }}"
  external:
    protocol: "{{ model_docker_protocol }}"
    url: "{{ model_docker_url }}"
    user: "{{ docker.user }}"
    password: "{{ docker.password }}"

feedback:
  enabled: true
  output:
    s3:
      bucket: "{{ legion_data_s3_bucket }}"
      region: "{{ collector.region }}"

edge:
  replicas: 2

edi:
  replicas: 2

vcs:
- name: "legion"
  type: "git"
  uri: "{{ model_examples_git_url }}"
  defaultReference: "{{ model_reference }}"
  creds: "{{ jenkins.git_key }}"


modelExecution:
  limits:
    cpu: {{ model_resources_cpu }}
    mem: {{ model_resources_mem }}