fullnameOverride: oauth2-proxy

config:
  clientID: "{{ dex.config.client_id }}"
  clientSecret: "{{ dex.config.client_secret }}"
  cookieSecret: "{{ cookie_secret }}"
  configFile: |
    provider = "iodc"
    redirect_url = "https://auth.{{ cluster_name }}/oauth2/callback"
    oidc_issuer_url = "https://dex.{{ cluster_name }}"
    whitelist_domains = ".{{ cluster_name }}"
    cookie_domain = ".{{ cluster_name }}"
    cookie_secure = false
    email_domains = "*"
    set_authorization_header = true
    skip_provider_button = true
    scope = "openid profile email offline_access groups"
    http_address = "0.0.0.0:4180"
    pass_authorization_header = true

ingress:
  path: /oauth2
  enabled: true
  hosts:
    - auth.{{ cluster_name }}
  tls:
  - secretName: {{ cluster_name }}-tls
    hosts:
    - auth.{{ cluster_name }}

image:
  repository: quay.io/pusher/oauth2_proxy
  tag: v3.2.0-amd64

service:
  port: 4180

resources:
  limits:
   cpu: 200m
   memory: 256Mi
  requests:
   cpu: 200m
   memory: 128Mi